<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
      <a class="navbar-brand" routerLink='/'>Dating App</a>

      <!--navbar-toggler is a responsive element: it changes the links into a hamburger icon
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>-->

      <!--<div class="collapse navbar-collapse" id="navbarCollapse"> -->
        <!--by using | async, we automatically unsubscribe if our nav component is not visible-->
        <ul class="navbar-nav me-auto mb-2 mb-md-0" >
          <ng-container *ngIf="accountService.currentUser$ | async" dropdown>
            <li class="nav-item">
              <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/lists' routerLinkActive="active">Lists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
            </li>
            <!--<li class="nav-item">
              <a class="nav-link" (click)="logout()" href="#">Logout</a>
            </li> -->
          </ng-container>

          <li class="nav-item">
            <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
          </li>
          
        </ul>

        <!--*ngIf means that this div will only show if the user is logged in-->
        <!--(accountService.currentUser$ | async) as user lets us use the property as the user inside our code -->
        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
          <!-- <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}"> -->
          <a class = "dropdown-toggle text-light" dropdownToggle>Welcome {{user.username | titlecase}}</a>
          <div class="dropdown-menu mt-3" *dropdownMenu>
            <a routerLink="/member/edit" class="dropdown-item">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>

        <!--by using *ngIf="!loggedIn", the form will not exist if the user is logged in-->
        <!--this is different from hiding the form-->
        <!--to hide the form, use [hidden]-->
        <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm = "ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" 
            autocomplete="off">
            <input 
                name="username"
                [(ngModel)]="model.username"
                class="form-control mr-sm-2" 
                type="text" 
                placeholder="Username">
            <input 
                name="password"
                [(ngModel)]="model.password"
                class="form-control mr-sm-2" 
                type="password" 
                placeholder="Password">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
        </form>
      </div>
    <!--</div>-->
  </nav>